html {
    height: 100vh; 
}

* {
    box-sizing: border-box;
}

body {
    background: url(../images/forestwall.jpg);
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.start-information {
    color: #fff;
    font-size: 1.5em;

}

h2 {
    text-align: center;
    color: #fff; 
    font-size: 1.5em;
}


a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}